* {
    font-family: 'Poppins, Roboto', 'DM Sans', sans-serif;
    /* border: red solid 1px; */
    color: var(--text);
    box-sizing: border-box;
}

:root {
    --text: #ffffff;
    --background: #0a0f1a;
    --primary: #d9b08c;
    --secondary: #1a2c56;
    --accent: #ba8e36;
}

:root[data-theme="light"] {
    --text: #000000;
    --background: #e5eaf5;
    --primary: #734a26;
    --secondary: #a9bbe5;
    --accent: #c99d45;
}
  
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

body {
    background-color: #0a0f1a;
}

.container {
    background-color: var(--background);
    /* height: 3000px; */
    
}


.about-left {
    background-color: #3a64a8;
    color: #e5eaf5;
    max-height: 600px;
}

.about-right {
    background-color: rgb(175, 242, 212);
    color: #0a0f1a;
    max-height: 750px;
}

.nav-link {
    color: var(--text);
}

#intro{
    min-height: 990px;
}

#projects {
    padding: 70px;
}

.images {
    padding: 0px;
}

.enlarge {
    transition: transform 0.5s ease-in-out;
}

.enlarge:hover {
    transform: scale(1.03); 
}

#top-button {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    color:#ffffff;
    background-color: rgba(197, 248, 255, 0);
    border: 1px #ffffff solid; 
    font-size: 20px;
    padding: 10px;
}

#top-button:hover {
    color:#ffffff;
    border: none;
    background-color: #0a0f1a;
}

.project {
    height: auto;
    min-width: 40px;
}

.contact {
    margin-top: 30vh;
    background-color: #111333;
}

::placeholder {
    color: white;
}

/* Nav bar styling */
.navbar {
    background-color: #111333;
}

.bottom-nav {
    padding-bottom: 10vh;
    background-color: #111333;
}   

.background {
    background: #0a0f1a;
    border-radius: 8px;
    min-height: 50px;
    border: white solid 2px;
}

#submit {
    background: #0a0f1a;
    max-height: 77px;
    border: solid white 1px;
}

.h-captcha {
    padding: 0;
    
}

.bootstrap {
    padding-left: 24px;
}

.profile {
    width: 175px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.icons {
    max-height: 32px;
    max-width: 32px;
    border-radius: 50%;
}

.icons:hover {
    margin-top: -5px;
    cursor: pointer;
}



