* {
    font-family: 'Poppins, Roboto', 'DM Sans', sans-serif;
    border: black solid 1px;
    color: var(--text);
    box-sizing: border-box;
}

:root {
    --text: #ffffff;
    --background: #0a0f1a;
    --primary: #d9b08c;
    --secondary: #1a2c56;
    --accent: #ba8e36;
}

:root[data-theme="light"] {
    --text: #000000;
    --background: #e5eaf5;
    --primary: #734a26;
    --secondary: #a9bbe5;
    --accent: #c99d45;
}
  
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}


.container {
    background-color: var(--background);
    height: 3000px;
    
}

.about-left {
    background-color: #3a64a8;
    color: #e5eaf5;
    /* height: 680px; */
}

.about-right {
    background-color: rgb(197, 248, 255);
    color: #0a0f1a;
    /* height: 680px; */
}

.intro, 
.about {
    min-height: 850px;
}

